/* Center the main header */
h1 {
    text-align: center;
}

/* Center the pun text */
#refresh-pun {
    text-align: center;
    
    /* Limit the width */
    max-width: 600px;
    
    /* Center the text box */
    margin: 20px auto;
}
