/* Center the main header */
h1 {
    text-align: center;
}

/* Center the pun text */
#refresh-pun {
    text-align: center;
    
    /* Limit the width */
    max-width: 600px;
    
    /* Center the text box */
    margin: 20px auto;
}

.profile-pic {
    width: 100px;           /* Sets the size */
    height: 100px;          /* Sets the size */
    object-fit: cover;      /* Ensures the image doesn't look squashed/stretched */
    border-radius: 50%;     /* Makes it a perfect circle */
    margin-bottom: 15px;    /* Adds space between photo and name */
}