/* Center the main header */
h1 {
    text-align: center;
}

/* Center the pun text */
#refresh-pun {
    text-align: center;
    
    /* Limit the width */
    max-width: 600px;
    
    /* Center the text box */
    margin: 20px auto;
}

.profile-pic {
    width: 250px;           /* Sets the size */
    height: 250px;          /* Sets the size */
    object-fit: cover;      /* Ensures the image doesn't look squashed/stretched */
    margin-bottom: 5px;    /* Adds space between photo and name */
}

.stuart-tier {
    height: 500px;          /* Sets the size */
    object-fit: cover;      /* Ensures the image doesn't look squashed/stretched */
    margin-bottom: 5px;    
}